1 VERSIONINFO
FILEVERSION		1,0,0,0
PRODUCTVERSION	1,0,0,0
FILEFLAGSMASK 0x17L
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "00000000"
		BEGIN
			VALUE "CompanyName", "Dark Energy Processor Corporation"
			VALUE "FileDescription", "San Andreas User Tracks Generator"
			VALUE "FileVersion", "1.0.0.0"
			VALUE "InternalName", "sautracks"
			VALUE "LegalCopyright", "Copyright © 2036 Dark Energy Processor Corporation"
			VALUE "OriginalFilename", "sautracks.exe"
			VALUE "ProductName", "sautracks"
			VALUE "ProductVersion", "1.0.0.0"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0, 0
	END
END

1 24 "Application.manifest"